<p></p>
<form action="{{ url_for('upload_file') }}" method="POST" name="frm_inputs" enctype="multipart/form-data">
    <div class="div_background">
        <!--<div class="mdl-layout">-->
        <p></p>
        <center><strong>Upload a CSV file with the reflectance data</strong></center>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-shadow--4p"></div>
            <!--<div class="mdl-layaout-spacer"></div>-->
            <div class="mdl-cell mdl-cell--8-col mdl-shadow--4p">

                <div class="mdl-shadow--4dp mdl-cell mdl-cell--12-col crd_input">
                    <div class="mdl-grid">
                        <!--<div class="mdl-card__title mdl-color&#45;&#45;primary mdl-color-text&#45;&#45;white">-->
                        <!--<h2 class="mdl-card__title-text">Acme Co.</h2>-->
                        <!--</div>-->
                        <div class="mdl-cell mdl-cell--12-col">
                            <p></p>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="txt_project_name" value="" name="txt_project_name"/>
                                    <label class="mdl-textfield__label" for="txt_project_name">Project Name</label>
                                </div>
                            </center>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="txt_username"/>
                                    <label class="mdl-textfield__label">Username</label>
                                </div>
                            </center>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="txt_num_iters"/>
                                    <label class="mdl-textfield__label">Number of output reflectance</label>
                                </div>
                            </center>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="txt_soemthing"/>
                                    <label class="mdl-textfield__label">Username</label>
                                </div>
                            </center>
                        </div>
                    </div>
                    <p></p>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <center>
                                    <!--<div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">-->
                                        <!--<input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />-->
                                        <!--<label class="mdl-textfield__label" for="file_input_text"></label>-->
                                    <!--</div>-->
                                <p><input type="file" name="file" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                                    <!--<i class="material-icons">file_upload</i>-->
                                    <button type='submit' class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored" ><i class="material-icons">file_upload</i></button>
                                    <!--<input type="submit" value="submited">-->
                                </p>

                                <!--<strong>Files:</strong><br>-->
                                <!--<input id="file-picker" type="file" name="file" accept="image/*" multiple>-->
                                <!--<div id="msg"></div>-->
                                <!--<input type="submit" value="Upload!" id="upload-button">-->

                            </center>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col"></div>
                        <div class="mdl-cell mdl-cell--1-col">

                            <div class="mdl-cell mdl-cell--2-col mdl-shadow--4p"></div>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable full-width">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Model Options</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                                    <td>25</td>
                                    <td>$2.90</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                                    <td>50</td>
                                    <td>$1.25</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                                    <td>10</td>
                                    <td>$2.35</td>
                                </tr>
                                </tbody>
                            </table>
                            <p></p>
                        </div>
                    </div>

                    <div>
                    </div>
                </div>
            </div>
        </div>
        <center>

        </center>
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;colored mdl-button&#45;&#45;raised mdl-shadow&#45;&#45;4p">-->
            <!--<i class="material-icons">add</i>-->
        <!--</button>-->
        <p></p>
        <!--</div>-->
    </div>
</form>
