{% include "header.html" %}
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-shadow--4p">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Welcome to Bootstrappy</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#" style="color:gray">Home</a>
                <a class="mdl-navigation__link" href="#" style="color:gray">About</a>
            </nav>
        </div>
    </header>
    {% include "sidebar.html" %}
    <main class="mdl-layout__content">
        <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
                <a href="#tab_inputs" class="mdl-tabs__tab is-active">Inputs</a>
                <a href="#tab_processing" class="mdl-tabs__tab">Processing</a>
                <a href="#tab_results" class="mdl-tabs__tab">results</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tab_inputs">
                {% include "content.html" %}

                <br>
                <br><br><br>
            </div>
            <div class="mdl-tabs__panel" id="tab_processing">
                {% include "processing.html" %}

                <br>
                <br><br><br>
            </div>
            <div class="mdl-tabs__panel" id="tab_results">
                {% include "results.html" %}
            </div>
        </div>

        {% include "footer.html" %}

    </main>
</div>
</body>
