<p></p>
<form action="" method="post" name="frm_processing">
    <div class="div_background">
        <!--<div class="mdl-layout">-->
        <p></p>
        <center><strong>Use the slider to view the results</strong></center>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-shadow--4p"></div>
            <!--<div class="mdl-layaout-spacer"></div>-->
            <div class="mdl-cell mdl-cell--8-col mdl-shadow--4p">

                <div class="mdl-shadow--4dp mdl-cell mdl-cell--12-col crd_input">
                    <div class="mdl-grid">
                        <!--<div class="mdl-card__title mdl-color&#45;&#45;primary mdl-color-text&#45;&#45;white">-->
                        <!--<h2 class="mdl-card__title-text">Acme Co.</h2>-->
                        <!--</div>-->
                        <div class="mdl-cell mdl-cell--12-col">
                            <p></p>
                        </div>
                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <!--<img src="./static/img/31LJpSG.gif" width="100%">-->
                                <canvas id="myChart" width="400" height="400"></canvas>
                                <input id="slider1" class="mdl-slider mdl-js-slider" type="range" min="0" max="100"
                                   value="0" tabindex="0"
                                   oninput="showMessage(this.value)" onchange="showMessage(this.value)">

                            </center>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <center>
                                <canvas id="myChart2" width="400" height="400"></canvas>
                                <input id="slider2" class="mdl-slider mdl-js-slider" type="range" min="0" max="100"
                                   value="0" tabindex="0"
                                   oninput="showMessage(this.value)" onchange="showMessage(this.value)">

                            </center>

                        </div>

                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <input id="slider3" class="mdl-slider mdl-js-slider" type="range" min="0" max="100"
                                   value="0" tabindex="0"
                                   oninput="showMessage(this.value)" onchange="showMessage(this.value)">
                        </div>
                    </div>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--11-col"></div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <div class="mdl-cell mdl-cell--2-col mdl-shadow--4p"></div>
                    </div>
                </div>

                <div>


                </div>
            </div>

        </div>

    </div>
    <p></p>
    <!--</div>-->
    </div>
</form>
<script src="static/Chart.min.js"></script>
<script>
Chart.defaults.global.legend.display = false;
var ctx = document.getElementById("myChart");
var ctx_synth = document.getElementById("myChart2");
myData = {{ data | tojson }}

var myChart = new Chart(ctx, {
    type: 'line',

    data: {
        labels: myData.label,
        datasets: [
            {% for item in data['data'] %}
            {
            data: myData.data[{{ loop.index0 }}],
            legend: { display: false },
            borderColor: 'rgba(99, 99, 132, 0.7)',
            backgroundColor: 'rgba(255, 255, 255, 0.0)',
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            hoverBorderColor: "rgba(200, 0, 0, 1)",
            },

            {% endfor %}
            ],
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'wavelength (nm)'
                }
            }]

        }
    }
});

var myChart = new Chart(ctx_synth, {
    type: 'radar',

    data: {
        labels: myData.label,
        datasets: [
            {% for item in data['data'] %}
            {
            data: myData.data[{{ loop.index0 }}],
            legend: { display: false },
            borderColor: 'rgba(255, 99, 132, 0.7)',
            backgroundColor: 'rgba(255, 255, 255, 0.0)',
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            hoverBorderColor: "rgba(200, 0, 0, 1)",
            },

            {% endfor %}
            ],
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'wavelength (nm)'
                }
            }]

        }
    }
});
Chart.defaults.global.legend.display = false;
</script>